/* Base */
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    color: white;
}

h1 {
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    border-bottom: 1px solid white;
}

/* Wrapper */
#wrapper {
    display: flex;
    background: linear-gradient(to top right, #6166e5, #5abfda);
    background: -webkit-linear-gradient(bottom left, #6166e5, #5abfda);
    background: -moz-linear-gradient(bottom left, #6166e5, #5abfda);
}

/* Main */
main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 140px;
}

/* Scroll Area */
#scrollArea {
    width: 100%;
    height: 100vh;
    direction: ltr;
    overflow-y: hidden;
}

#scrollArea #scrollSectionWrapper {
    display: flex;
}

#scrollArea .scrollSection {
    width: auto;
    min-width: calc(100% - 120px);
    height: calc(100vh - 60px);
    margin: 30px 60px;
    flex-shrink: 0;
}

#scrollArea .scrollSection:last-child {
    padding-right: 60px;
    margin-right: 0;
}

#scrollArea .simplebar-scrollbar {
    height: 100%;
    top: 0;
}

#scrollArea .simplebar-content-wrapper.smooth {
    scroll-behavior: smooth;
}

#scrollArea .simplebar-scrollbar::before {
    border-radius: 0;
    right: 0;
    left: 0;
}

/* Aside */
#asideNav {
    width: 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 100;
    transition: background-color 0.25s, box-shadow 0.25s, transform 0.5s;
}

#asideNav #asideTitle {
    color: #6166e5;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    transition: color 0.25s;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 500px;
    height: 100%;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul a {
    padding: 5px 15px;
    text-decoration: none;
    color: #6166e5;
    border-radius: 5px;
    border: 1px solid #6166e5;
    display: inline-block;
    margin: 5px 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 110px;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

nav ul a.scrolled {
    background-color: #6166e5;
    color: white;
}

nav ul a:hover {
    background-color: #6166e5;
    color: white;
}

#navMenu {
    position: absolute;
    top: 0;
    z-index: 200;
    left: 0;
    height: 50px;
    border: 0;
    background: none;
    color: white;
    padding: 5px;
    outline: none !important;
    display: none;
}

/* Price Cards */
.priceCard {
    border: 1px solid #222222;
    padding: 40px;
    background-color: white;
    text-align: center;
    box-shadow: 0 15px 50px 5px rgba(0, 0, 0, 0.25);
    position: relative;
}

.priceCardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 20px 50px;
    width: calc(100vw - 140px - 120px);
    box-sizing: border-box;
}

.priceCard h2 {
    color: #222222;
}

.priceCard_icon {
    border-radius: 100%;
    width: 128px;
}

.priceCard_description {
    color: #888f96;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 400;
}

.priceCard_price {
    color: #3684f7;
    font-size: 3rem;
    margin: 15px 0;
    position: relative;
    display: inline-block;
    line-height: 2.25rem;
}

.priceCard_price::before {
    content: "$";
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 100%;
    font-weight: 400;
    line-height: 1rem;
}

.priceCard_price::after {
    content: "month";
    font-size: 1.1rem;
    color: #aeb5bc;
}

.priceCard--feature {
    border-color: #3684f7;
    overflow: hidden;
}

.priceCard--feature::after {
    content: "";
    background-color: #3684f7;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.priceCard--feature::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(125px) translateX(125px) rotate(45deg);
    width: 200px;
    height: 200px;
    box-shadow: -5px -5px 20px 1px rgba(0, 0, 0, 0.5);
}

.priceCard_button {
    border: 0;
    border-radius: 50px;
    background-color: #222222;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 5px 30px;
}

.priceCard_button--feature {
    background-color: #3684f7;
}

/* Site Title */
.center {
    text-align: center;
}

#siteTitle {
    font-size: 6rem;
    font-family: "Quicksand", sans-serif;
}

.siteButton {
    border: 1px solid white;
    color: white;
    font-size: 1.15rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    max-width: 256px;
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 15px 50px 5px rgba(0, 0, 0, 0.25);
    transition: color 0.25s, background-color 0.25s;
}

.siteButton:hover {
    background-color: white;
    color: #3684f7;
}

/* Dark Theme */
#wrapper.dark {
    color: white;
    background: #202020;
    background: linear-gradient(to bottom right, #936ced, #6c86ed);
    background: -webkit-linear-gradient(top left, #936ced, #6c86ed);
    background: -moz-linear-gradient(top left, #936ced, #6c86ed);
}

.dark #asideNav {
    background-color: #303030;
}

.dark .priceCard {
    background-color: #303030;
    border-color: #936ced;
}

.dark .priceCard h2 {
    color: white;
}

.dark #asideNav #asideTitle {
    color: #936ced;
}

.dark nav ul a {
    color: #936ced;
    border-color: #936ced;
}

.dark nav ul a.scrolled {
    background-color: #936ced;
    color: white;
}

.dark nav ul a:hover {
    background-color: #936ced;
    color: white;
}

.dark .siteButton:hover {
    color: #303030;
}

.dark .priceCard--feature::after {
    background: linear-gradient(to top left, #936ced, #6c86ed);
    background: -webkit-linear-gradient(bottom right, #936ced, #6c86ed);
    background: -moz-linear-gradient(bottom right, #936ced, #6c86ed);
}


/* Media Queries */
@media screen and (max-width: 768px) {
    #siteTitle {
        font-size: 4rem;
    }
}

@media screen and (max-width: 640px) {
    #siteTitle {
        font-size: 8vw;
    }
}

@media screen and (max-width: 500px) {
    #asideNav {
        transform: translateX(-100%);
    }

    #asideNav.open {
        transform: translateX(0);
    }

    main {
        padding-left: 0;
    }

    #navMenu {
        display: block;
    }

    #navMenu img {
        height: 100%;
    }
}